<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tricrho.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>tricrho.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>223FDD2F1C25DF50006CD0D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223FDD451C25DF51006CD0D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>223FDD501C25DF51006CD0D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>228D707B1C27ADC100BA5E9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>228D70841C27ADC100BA5E9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22BF61E91C2784990068AD9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>22BF61F21C2784990068AD9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
